body {
  margin: 0;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

footer {
  background: lightyellow;
  padding: 10px;
  border-top: 5px solid black;
}

a {
  text-decoration: none;
  color: blue;
}

nav a {
  margin-left: 10px;
}

h1 {
  text-align: center;
}

section p a {
  font-weight: bold;
}

main {
  padding: 20px;
}

p {
  padding: 5px;
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 3px;
}

ul li {
  margin-left: 20px;
}

.content>div {
  display: flex;
  align-items: center;
  justify-content: center;
}